.cardBackground {
  @apply z-10 absolute top-0 right-0 rounded-md;
  height: 112px;

  img {
    max-width: none;
    border-radius: 12px;
  }
}

.backgroundLikeImg {
  min-height: -webkit-fill-available;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
