.title_style {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.type_1_style {
  @apply bg-blue-200;
}
.type_2_style {
  @apply bg-orange;
}
.type_3_style {
  @apply bg-green;
}
