.protocolItemWrapper {
  @apply text-body-6 flex-1;

  input[type='radio'] {
    visibility: hidden;
    display: none;
  }

  input[type='radio']:checked + label {
    border: solid 1px #2494dc;
  }

  input[type='radio']:checked + label > div {
    visibility: visible;
  }

  label {
    @apply flex flex-col justify-center items-center w-full h-full pt-3 pb-3;
    min-width: 100px;
    border-radius: 4px;
    position: relative;
    background-color: #ffffff;

    div {
      visibility: hidden;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
