.thirdPartyWallet {
  @apply my-2 px-2 text-body-6 text-center relative;
  
  &:not(:nth-child(3n)) {
    .divider {
      @apply absolute right-0 top-3 block h-5;
      content: '';
      width: 1px;
    };
  }
}



.switchHandler {
  @apply w-4 h-4 bg-white rounded-full;
  margin: 2px;
}

.activeSwitch {
  @apply place-items-end;
  background: linear-gradient(90deg, #855EF5, #53BCFA);
}

.inactiveSwitch {
  @apply place-items-start bg-gray-200;
}