.table_style {
  @apply border-platinum-300;
  @apply border;
  @apply rounded-md;
  @apply my-4;
  @apply w-full;
  border-collapse: separate;
  border-spacing: 0;
  tr {
    @apply border-platinum-300;
    @apply border;
    @apply border-solid;
    &:first-child {
      td {
        &:first-child {
          border-radius: 11px 0 0 0;
        }
      }
    }
    &:last-child {
      td {
        @apply border-b-0;
        &:first-child {
          border-radius: 0 0 0 11px;
        }
      }
    }
    td {
      @apply px-2;
      @apply py-4;
      @apply border-platinum-300;
      @apply border-solid;
      border-width: 0 1px 1px 0;
      width: 50%;
      @apply text-white;
      @apply text-center;
      &:first-child {
        @apply bg-platinum-300;
        @apply border-purple-900;
      }
      &:last-child {
        @apply border-r-0;
        @apply text-platinum-300;
      }
    }
  }
}

.zodiac_table_style {
  @apply border-platinum-300;
  @apply border;
  @apply rounded-md;
  @apply my-4;
  @apply w-full;
  border-collapse: separate;
  border-spacing: 0;
  tr {
    @apply border-platinum-300;
    @apply border;
    @apply border-solid;
    &:first-child {
      td {
        @apply bg-platinum-300;
        + td {
          @apply border-l;
          @apply border-purple-900;
        }
        &:first-child {
          border-radius: 11px 0 0 0;
        }
        &:last-child {
          border-radius: 0 11px 0 0;
        }
      }
    }
    td {
      @apply px-2;
      @apply py-4;
      @apply text-center;
      + td {
        @apply border-l;
        @apply border-platinum-300;
      }
    }
  }
}
