$xs: '320px';
$lg: '414px';

.card {
    height: 180px;
    box-shadow: 0px 14.4px 14.4px rgba(0, 0, 0, 0.2);
    border-radius: 14.4px;
    margin-left: 6.5px;
    margin-right: 6.5px;

    @media (max-width: $xs) {
        height: 150px;
    }

    @media (min-width: $lg) {
        height: 200px;
    }

    .card_content {
        padding: 20px;

        .card_name {
            @apply text-body-1;

            @media (max-width: $xs) {
                @apply text-body-4;

            }

            @media (min-width: $lg) {
                @apply text-body-1;
                margin-top: 2px
            }
        }

        .card_number {
            @apply text-body-4;
            margin-top: 14px;

            @media (max-width: $xs) {
                @apply mt-3 text-body-6;
            }

            @media (min-width: $lg) {
                @apply mt-4 text-body-2;
            }
        }

        .card_real_name {
            @apply text-body-4;
            bottom: 35px;
            @media (max-width: $xs) {
                @apply text-body-6;
                bottom: 26px;
            }

            @media (min-width: $lg) {
                @apply text-body-2;
                bottom: 49px;
            }
        }
    }

    .background {
        .background_bank {
            left: 68%;
        }

        .background_crypto {
            left: 70%;
            top: 1.28px;
        }

        @for $i from 1 through 3 {
            div:nth-child(3n + #{$i}) {
                @apply rounded-full;
                position: absolute;
                width: 109.07px + ($i - 1) * 90;
                height: 109.39px + ($i - 1) * 90;
                left: 62% - ($i - 1) *15;
                top: -16.09px - ($i - 1) * 45;

                opacity: 0.04 / $i;
            }
        }
    }
}

.card_1 {
    background: linear-gradient(270deg, #6CE8E8 -7.28%, #24A1A8 100%);
}

.card_2 {
    background: linear-gradient(270deg, #EF96CB 0%, #DD66B8 100%);
}

.card_3 {
    background: linear-gradient(270deg, #CC8DD8 0.68%, #7762B2 100%);
}

.card_4 {
    background: linear-gradient(270deg, #FFB36F 0%, #E78E81 100%);
}