.tab_style {
  &:first-child {
    border-radius: 20px 0px 0px 20px;
  }
  &:last-child {
    border-radius: 0px 20px 20px 0px;
  }
}
.tab_active_style {
  background-color: #51a1ff;
  color: #ffffff;
}
